.top {
    display:grid;
    grid-template-columns: 1fr, 1fr;
    margin-top: 10vh;
}

.header{
    grid-column: 1;
    text-align: left;
    display: flex;
}

h1 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 4em;
    text-shadow: 0.03em 0.03em rgba(0,0,0,0.1);
    color: #e2e3e7;
}

.button {
    grid-column: 2;
    align-items: center;
}

.darkmode {
    background: #282828;
    color: #e2e3e7;
}

.darkmode h1 {
    color: #282828;
    text-shadow: -0.03em -0.03em rgba(255, 255, 255, 0.1);
}

body {
    width: 100vw;
    height: 100vh;
    background: #e2e3e7;
}

a {
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 150%;

}

@font-face {
    font-family: 'Downpour';
    src: url('fonts/RaindropsVF.woff2') format("woff2-variations");
  }

  .health {
    font-family: 'Downpour';
    font-variation-settings: 'wght' ;
    font-size: 75px;
    max-width: 20%;
}

