body {
    margin: 0 0;
    background: #EFE9DE;
}

main {
    margin: 6vh 10vw 0 10vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    height: 100vh;
    width: 80vw;
}
.column{
    grid-column-end: span 1;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #714E3E;
}
.olddate {
    /* grid-column: 1; */
    /* font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #714E3E; */
    margin-bottom: 4px;
}

.today {
    /* grid-column: 2; */
    /* font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #714E3E; */
    margin-bottom: 4px;

}

.iframe-container {
    position: relative;
}

.oldwebsite {
    border-style: none;
    height: 70vh;
    width: 100%;
    background:url("../goingpast.gif") center center no-repeat; 
}

.newwebsite {
    border-style: none;
    height: 70vh;
    width: 100%;
    background:url("../goingpresent.gif") center center no-repeat; 
}

.txt {
    /* grid-column: 1; */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #535353;
    line-height: 1.4;
    max-width: 90%;
    margin-top: 15px;
}

.exit {
    position: absolute;
    margin-left: 37%;
}

.nobgclr {
    border-style: none;
    height: 70vh;
    width: 100%;
}

@media only screen and (max-width: 812px) {

    main {
        margin: 6vh 10vw 0 10vw;
        display:grid;
        grid-template-columns: 1fr;
        column-gap: 12px;
        height: 100vh;
        width: 80vw;
    }

    .exit {
        position: absolute;
        z-index: 99;
        top: 6vh;
        right: 10vw;
    }

    .txt {
        /* grid-column: 1; */
        margin-bottom: 6vh;
    }

}