@font-face {
  font-family: 'Downpour';
  src:url('../../fonts/RaindropsVF.woff2') format("woff2-variations"),
  url('../../fonts/RaindropsVF.woff') format('woff-variations'),
  url('../../fonts/RaindropsVF.ttf') format('truetype-variations');
}

html {
  cursor: url('../rainicon.gif') 26 22, auto;
  animation: cursor 2.4s linear infinite;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #0a081f, #111119);
    /* overflow: scroll; */
  }
  
main{
  position: fixed;
  top:0;
  left:0;
  overflow: scroll;
  height: 100vh;
}

#lottie{
    width:100%;
    height:100%;
    display:flex;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: .5;
}

.animation{
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
}

.first{
  margin-bottom: 20vh;
  margin-left: 4vw;
  line-height: 0;
  grid-template-columns: 1fr 1fr;
  display:grid;
  max-width: 100vw;
}

.txtone{
  display: flex;
  font-family: 'Downpour';
  color: rgba(255, 255, 255, 0.7);
  font-size: 90px;
  line-height: 1.3;
  font-variation-settings: 'wght' 100;
  grid-column: 1;
  margin: 0 auto 0 auto;
  padding: 25px;
}

.txttwo{
  display: flex;
  font-family: synthese, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  max-width: 80%;
  font-size: 16px;
  font-style: normal;
  grid-column: 1;
  margin: 0 auto 0 auto;
  padding: 25px;

}

.A{
  grid-column: 2;
  display: flex;
  text-align: center;
  margin: auto;
  padding: 25px;
  font-family: 'Downpour';
  color: rgba(255, 255, 255, 0.7);
  font-size: 23vw;
  --wght-axis: 2;
  font-variation-settings: 'wght' var(--wght-axis);
  animation: cycle 5s infinite ease-in-out;
}

.second{
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 20vh;  
    margin-top: 20vh;
}

.quote {
	display: inline;
  font-family: 'Downpour';
  color: rgba(255, 255, 255, 0.7);
  font-variation-settings: 'wght' 2;
  font-size: 96px;
  line-height: 1.2;
  margin: -2px;
  transition: font-variation-settings .2s ease-in, color .2s ease-in;
}

.quote:hover {
	--wdth-axis: 100;
	color: rgb(255, 255, 255);
  font-variation-settings: 'wght' 100;
	transition: font-variation-settings .2s ease-in,
	background-color .2s ease-in, color .2s ease-in;
	}

.third {
    grid-template-columns: 1fr 1fr;
    display:grid;
    max-width: 100vw;
    padding: 25px;
    margin: auto;
    margin-bottom: 3  0vh;  
    text-align: center;
}
 
.wght2 {
  grid-column: 1;
  font-family: 'Downpour';
  color: rgba(255, 255, 255, 0.7);
  font-variation-settings: 'wght' 2;
  font-size: 72px;
  line-height: 1.2;
  margin: auto;
  padding: 20px;
}

.wght100 {
  grid-column: 2;
  font-family: 'Downpour';
  color: rgba(255, 255, 255, 0.7);
  font-variation-settings: 'wght' 100;
  font-size: 62px;
  line-height: 1.1;
  margin: auto;
  padding: 20px;
}

.wght2cap {
  grid-column: 1;
  font-family: synthese, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 1.5;
}

.wght100cap {
  grid-column: 2;
  font-family: synthese, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 1.5;
}

.secbreak {
  text-align: center;
  font-family: synthese, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 20vh;
}

.fourth {
  text-align: center;
  max-width: 60vw;
  margin: auto;
  margin-bottom: 20vh;  
  margin-top: 10vh;
  font-family: 'Downpour';
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.2;
}

#font {
  --wght-axis: 2;
  font-variation-settings: 'wght' var(--wght-axis);
  font-size: 60px;
}

/*

.wrapper {
  display: inline;
  font-family: 'Downpour';
  color: rgba(255, 255, 255, 0.7);
  font-size: 120px;
  font-variation-settings: 'wght' 2;
  transition: font-variation-settings .4s ease-in-out;
  line-height: 1.2;
}

.blend {
  animation: blend 3s ease-in-out infinite;
}

.wrapper:hover {
	transition: font-variation-settings .5s ease-in-out;
  font-variation-settings: 'wght' 100;
	}

*/



@keyframes cycle {
  0% {
    font-variation-settings: 'wght' 2;
  }

  33% {
    font-variation-settings: 'wght' 100;
  }

  66% {
    font-variation-settings: 'wght' 100;
  }

  100% {
    font-variation-settings: 'wght' 2;
  }

}

@keyframes blend {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes cursor{
  0% { 
    cursor: url(../smaller/Raining-Icon_0023_1.png) 26 22, auto;
  }
  4.16% { 
    cursor: url(../smaller/Raining-Icon_0022_2.png) 26 22, auto;
  }
  8.32% { 
    cursor: url(../smaller/Raining-Icon_0021_3.png) 26 22, auto;
  }
  12.48% { 
    cursor: url(../smaller/Raining-Icon_0020_4.png) 26 22, auto;
  }
  16.64% { 
    cursor: url(../smaller/Raining-Icon_0019_5.png) 26 22, auto;
  }
  20.8% { 
    cursor: url(../smaller/Raining-Icon_0018_6.png) 26 22, auto;
  }
  24.96% { 
    cursor: url(../smaller/Raining-Icon_0017_7.png) 26 22, auto;
  }
  29.12% { 
    cursor: url(../smaller/Raining-Icon_0016_8.png) 26 22, auto;
  }
  33.28% { 
    cursor: url(../smaller/Raining-Icon_0015_9.png) 26 22, auto;
  }
  37.44% { 
    cursor: url(../smaller/Raining-Icon_0014_10.png) 26 22, auto;
  }
  41.6% { 
    cursor: url(../smaller/Raining-Icon_0013_11.png) 26 22, auto;
  }
  45.76% { 
    cursor: url(../smaller/Raining-Icon_0012_12.png) 26 22, auto;
  }
  49.92% { 
    cursor: url(../smaller/Raining-Icon_0011_13.png) 26 22, auto;
  }
  54.08% { 
    cursor: url(../smaller/Raining-Icon_0010_14.png) 26 22, auto;
  }
  58.24% { 
    cursor: url(../smaller/Raining-Icon_0009_15.png) 26 22, auto;
  }
  62.4% { 
    cursor: url(../smaller/Raining-Icon_0008_16.png) 26 22, auto;
  }
  66.56% { 
    cursor: url(../smaller/Raining-Icon_0007_17.png) 26 22, auto;
  }
  70.72% { 
    cursor: url(../smaller/Raining-Icon_0006_18.png) 26 22, auto;
  }
  74.88% { 
    cursor: url(../smaller/Raining-Icon_0005_19.png) 26 22, auto;
  }
  79.04% { 
    cursor: url(../smaller/Raining-Icon_0004_20.png) 26 22, auto;
  }
  83.2% { 
    cursor: url(../smaller/Raining-Icon_0003_21.png) 26 22, auto;
  }
  87.36% { 
    cursor: url(../smaller/Raining-Icon_0002_22.png) 26 22, auto;
  }
  91.56% { 
    cursor: url(../smaller/Raining-Icon_0001_23.png) 26 22, auto;
  }
  95.68% { 
    cursor: url(../smaller/Raining-Icon_0000_24.png) 26 22, auto;
  }
  100% {
    cursor: url(../smaller/Raining-Icon_0023_1.png) 26 22, auto;
  }
}