.container {
width: 100%;
display:flex;
}

.img {
	align-self: flex-start;
	width: 40vw;
    padding: 20px;
	position: flex;
}

.img-responsive {
	display: none;
}

text{
	margin-right: 5vw;
	flex: 1 1 auto;
	font-size: 20px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
    line-height: 1.4;
    max-width: 60%;
}
footer {
	border-top: solid;
	padding: 50px;
	margin: 0;
	margin-top: 50px;
	text-align: center;
}

@media only screen and (max-width: 812px) {

	.container {
		width: 80%;
		display: block;
		}

	.img {
		display: none;
	}

	.img-responsive {
		position: relative;
		width: 100%;
		padding: 20px;
		display: block;
	}

}