@font-face {
  font-family: 'NewFont';
  src: url('NewFont-Regular.woff2') format("woff2")
}
  
body {
  overflow: hidden;
  margin: auto;
}

h1 {
  font-family: 'NewFont';
  font-size: 60px;
}

.box {
  max-width: 100vw;
}